@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      min-height: 100vh;
      text-align: center;
      background: rgb(18, 18, 18);
      font-family: 'Sora', sans-serif;
      color: rgb(217, 217, 217);
    }

    #toggleBtn {
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 10;
      padding: 8px 12px;
      color: white;
      background: #202020;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .circle1{
      position: absolute;
      top: -10%;
      left: -15%;
      z-index: -1;
      width: 500px;
      height: 500px;
      background: linear-gradient(to right, #73ffc2, #a3acff,#e16aff);
      border: none;
      opacity: 0.4;
      border-radius: 50%; 
      filter: blur(150px);      
    }
    .circle2{
      position: absolute;
      bottom: 10%;
      right: 3%;
      z-index: -1;
      width: 300px;
      height: 300px;
      background: linear-gradient(to right,#73ffc2,#3544cb);
      border: none;
      opacity: 0.4;
      border-radius: 50%; 
      filter: blur(150px);      
    }

    #sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background-color: #333;
      overflow-x: auto;
      white-space: nowrap;
      padding: 10px;
      padding-top: 4rem;      
      transform: translateX(0);
      transition: transform 0.3s ease;
      will-change: transform;
      z-index: 2;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(12px); 
      -webkit-backdrop-filter: blur(12px); 
      border-right: 1px solid rgba(255, 255, 255, 0.2);   
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 0 12px 12px 0;    
    }

    #sidebar.hidden {
      transform: translateX(-100%);
    }

    .sidebar-item {
      display: block;
      padding: 10px;
      margin-bottom: 10px;
      color: white;
      text-align: center;

      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(2px); 
      -webkit-backdrop-filter: blur(2px); 
      border-right: 1px solid rgba(255, 255, 255, 0.2);   
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 12px;
      cursor: pointer;
    }

    #main {
      position: relative;
      min-height: 100vh;
      padding: 20px;
      margin-left: 250px; 
      transition: margin-left 0.3s ease;
    }

    #main.full {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      #sidebar {
        width: 70%;
        max-width: 280px;
      }

      #main {
        margin-left: 0;
      }
    }






    
.heading{
  font-size: 2rem;
  font-weight: bold;
}
.sub-heading{
  font-size: 1.5rem;
}

.info{
  font-size: 1.5rem;
}

.wrapper{
  display: flex;
  justify-content: center; 
  margin-top: 20px;  
  
}
label{
  font-weight: 500;
  font-size: 20px;  
}
#video-container {
    display: inline-block;
    padding: 1.3rem;
    background-color: #202020;
    border-radius: 1rem;  
    width: 65%;  
    border: 1px solid rgb(101, 101, 101);
}

#video-feed{
  display: block;
  border-radius: 1rem;
  height: auto;
  width: 100%;
}
#exercise-select {
    padding: 10px;
    font-size: 4rem;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
.actionBtn{
  border-radius: 12px;
  width: 87px;
  display: block;
  padding:12px;
  margin: 1rem;
  cursor: pointer;
}
#startBtn{
  background: #60d394;
  color: #121212;
}
#stopBtn{
  background: #ff7d76;
  color: white;
}
.double-rep-container{
  display: flex;
  gap: 6rem;
  justify-content: space-around;
  align-items: center;
  margin-top:1rem;
}
.single-rep-container{
  display: none;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  margin-top:1rem;
}
p{
    margin: 0;    
}


.gradient-text {
  display: inline-block; 
  background: linear-gradient(to right, #6d6d6d, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.color-gradient-text {
  display: block; 
    background: linear-gradient(to right, #73ffc2, #a3acff,#e16aff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.color-gradient-bg {
    background: linear-gradient(to right, #f6fefe, #a3acff);
    color: rgb(33, 33, 33);    

  }

.dropdown{
  background-color: #333333;
  color: white;
  border-radius: 0.5rem;
  padding: 0.9em 1.4em;
}


@media (max-width: 767px) {
body{
  padding: 1rem;
} 
.heading{
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  bottom: 200px;
}
.sub-heading{
  font-size: 1rem;
}
label{
  font-weight: 400;
  font-size: 16px;  
}
.info{
  font-size: 1rem;
}
#video-container {
    padding: 1rem;
}

.dropdown{
  width: 100%;
}
}